.git
.github
.ddev
.ai
.claude
.cursor
.idea
.junie
.vscode
.husky
.vite-hooks
.pnpm-store
node_modules
vendor
tests
docs
api-docs
stats.html
package-lock.json
.env
.htaccess
external-music
storage/music
storage/logs/*
storage/search-indexes/*
public/build
public/hot
public/storage
public/img/storage/*
bootstrap/cache/*.php
